# Exploring and Transforming JSON Schemas

# Introduction

In this lesson, we'll formalize how to explore a JSON file whose structure and schema is unknown to you. This often happens in practice when you are handed a file or stumble upon one with little documentation.

## Objectives
You will be able to:
* Explore unknown JSON schemas
* Access and manipulate data inside a JSON file
* Convert JSON to alternative data formats

## Loading the JSON file

Load the data from the file disease_data.json.

In [1]:
import json
f = open('disease_data.json')
data = json.load(f)

## Explore the first and second levels of the schema hierarchy.

In [2]:
type(data)

dict

In [3]:
data.keys()

dict_keys(['meta', 'data'])

In [4]:
type(data['data'])

list

In [5]:
len(data['data'])

60266

In [6]:
type(data['meta'])

dict

In [7]:
data['meta'].keys()

dict_keys(['view'])

In [8]:
data['meta']['view'].keys()

dict_keys(['id', 'name', 'attribution', 'attributionLink', 'averageRating', 'category', 'createdAt', 'description', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'indexUpdatedAt', 'licenseId', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationDate', 'publicationGroup', 'publicationStage', 'rowClass', 'rowsUpdatedAt', 'rowsUpdatedBy', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'columns', 'grants', 'license', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'tags', 'flags'])

In [9]:
data['meta']['view']['name']

'U.S. Chronic Disease Indicators (CDI)'

## Convert to a DataFrame

Create a DataFrame from the JSON file. Be sure to retrive the column names for the dataframe. (Search within the 'meta' key of the master dictionary.) The DataFrame should include all 42 columns.

In [10]:
import pandas as pd

df = pd.DataFrame(data['data'])
df.columns = [item['name'] for item in data['meta']['view']['columns']]
df.head()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,YearStart,YearEnd,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,1,FF49C41F-CE8D-46C4-9164-653B1227CF6F,1,1527194521,959778,1527194521,959778,None,2016,2016,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
1,2,F4468C3D-340A-4CD2-84A3-DF554DFF065E,2,1527194521,959778,1527194521,959778,None,2016,2016,...,01,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
2,3,65609156-A343-4869-B03F-2BA62E96AC19,3,1527194521,959778,1527194521,959778,None,2016,2016,...,02,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
3,4,0DB09B00-EFEB-4AC0-9467-A7CBD2B57BF3,4,1527194521,959778,1527194521,959778,None,2016,2016,...,04,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
4,5,D98DA5BA-6FD6-40F5-A9B1-ABD45E44967B,5,1527194521,959778,1527194521,959778,None,2016,2016,...,05,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None

In [11]:
df.columns

Index(['sid', 'id', 'position', 'created_at', 'created_meta', 'updated_at',
       'updated_meta', 'meta', 'YearStart', 'YearEnd', 'LocationAbbr',
       'LocationDesc', 'DataSource', 'Topic', 'Question', 'Response',
       'DataValueUnit', 'DataValueType', 'DataValue', 'DataValueAlt',
       'DataValueFootnoteSymbol', 'DatavalueFootnote', 'LowConfidenceLimit',
       'HighConfidenceLimit', 'StratificationCategory1', 'Stratification1',
       'StratificationCategory2', 'Stratification2', 'StratificationCategory3',
       'Stratification3', 'GeoLocation', 'ResponseID', 'LocationID', 'TopicID',
       'QuestionID', 'DataValueTypeID', 'StratificationCategoryID1',
       'StratificationID1', 'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

## Level-Up
## Create a bar graph of states with the highest asthma rates for adults age 18+

In [12]:
df.Topic.unique()

array(['Alcohol', 'Arthritis', 'Asthma', 'Cancer', 'Diabetes',
       'Mental Health', 'Chronic Obstructive Pulmonary Disease',
       'Oral Health', 'Cardiovascular Disease', 'Immunization',
       'Chronic Kidney Disease',
       'Nutrition, Physical Activity, and Weight Status', 'Older Adults',
       'Tobacco', 'Overarching Conditions', 'Reproductive Health',
       'Disability'], dtype=object)

In [13]:
df.Question.unique()

array(['Binge drinking prevalence among adults aged >= 18 years',
       'Binge drinking intensity among adults aged >= 18 years who binge drink',
       'Heavy drinking among adults aged >= 18 years',
       'Binge drinking prevalence among women aged 18-44 years',
       'Binge drinking frequency among adults aged >= 18 years who binge drink',
       'Heavy drinking among women aged 18-44 years',
       'Arthritis among adults aged >= 18 years',
       'Current asthma prevalence among adults aged >= 18 years',
       'Arthritis among adults aged >= 18 years who are obese',
       'Arthritis among adults aged >= 18 years who have diabetes',
       'Arthritis among adults aged >= 18 years who have heart disease',
       'Asthma prevalence among women aged 18-44 years',
       'Physical inactivity among adults aged >= 18 years with arthritis',
       'Fair or poor health among adults aged >= 18 years with arthritis',
       'Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma',
       'Mammography use among women aged 50-74 years',
       'Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma',
       'Diabetes prevalence among women aged 18-44 years',
       'Papanicolaou smear use among adult women aged 21-65 years',
       'Recent Papanicolaou smear use among women aged 21-44 years',
       'Fecal occult blood test, sigmoidoscopy, or colonoscopy among adults aged 50-75 years',
       'Recent mentally unhealthy days among adults aged >= 18 years',
       'Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes',
       'Prevalence of diagnosed diabetes among adults aged >= 18 years',
       'Prevalence of chronic obstructive pulmonary disease among adults >= 18',
       'All teeth lost among adults aged >= 65 years',
       'Prevalence of chronic obstructive pulmonary disease among adults >= 45 years',
       'Adults with diagnosed diabetes aged >= 18 years who have taken a diabetes self-management course',
       'Prevalence of current smoking among adults >= 18 with diagnosed chronic obstructive pulmonary disease',
       'Prevalence of current smoking among adults >= 45 years with diagnosed chronic obstructive pulmonary disease',
       'Prevalence of activity limitation among adults >= 18 with diagnosed chronic obstructive pulmonary disease',
       'Prevalence of activity limitation among adults >= 45 years with diagnosed chronic obstructive pulmonary disease',
       'Influenza vaccination among noninstitutionalized adults aged >= 45 years with chronic obstructive pulmonary disease',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 45 years with chronic obstructive pulmonary disease',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease',
       'Influenza vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease or stroke',
       'Influenza vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease or stroke',
       'Influenza vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes',
       'Influenza vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes',
       'Foot examination among adults aged >= 18 years with diagnosed diabetes',
       'No tooth loss among adults aged 18-64 years',
       'Glycosylated hemoglobin measurement among adults aged >= 18 years with diagnosed diabetes',
       'Dilated eye examination among adults aged >= 18 years with diagnosed diabetes',
       'Visits to dentist or dental clinic among adults aged >= 18 years with diagnosed diabetes',
       'Influenza vaccination among noninstitutionalized adults aged >= 18 years',
       'At least 14 recent mentally unhealthy days among women aged 18-44 years',
       'Prevalence of chronic kidney disease among adults aged >= 18 years',
       'Obesity among adults aged >= 18 years',
       'No leisure-time physical activity among adults aged >= 18 years',
       'Healthy weight among adults aged >= 18 years',
       'Overweight or obesity among adults aged >= 18 years',
       'Visits to dentist or dental clinic among adults aged >= 18 years',
       'Overweight or obesity among women aged 18-44 years',
       'Proportion of older adults aged >= 65 years who are up to date on a core set of clinical preventive services',
       'Proportion of older adults aged 50-64 years who are up to date on a core set of clinical preventive services',
       'Six or more teeth lost among adults aged >= 65 years',
       'Current smoking among adults aged >= 18 years',
       'Current lack of health insurance among adults aged 18-64 years',
       'Current health care coverage among women aged 18-44 years',
       'Fair or poor self-rated health status among adults aged >= 18 years',
       'Self-rated health status among women aged 18-44 years',
       'Recent physically unhealthy days among adults aged >= 18 years',
       'Recent activity limitation among adults aged >= 18 years',
       'Prevalence of sufficient sleep among adults aged >= 18 years',
       'Timeliness of routine health care checkup among women aged 18-44 years',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years who smoke',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years who smoke',
       'Quit attempts in the past year among current smokers',
       'Current cigarette smoking among women aged 18-44 years',
       'Current smokeless tobacco use among adults aged >= 18 years',
       'Live births occurring at Baby Friendly Facilities',
       'State child care regulation supports onsite breastfeeding',
       'Secondary schools that allow students to purchase soda or fruit drinks',
       'Secondary schools that allow community-sponsored use of physical activity facilities by youth outside of normal school hours',
       'Poverty',
       'Secondary schools that allow students to purchase sports drinks',
       'Secondary schools that have a comprehensive tobacco-free school policy in place',
       'Secondary schools that offer less healthy foods as competitive foods',
       'Disability among adults aged >= 65 years',
       'High school completion among adults aged 18-24 years',
       'Presence of regulations pertaining to screen time in early care and education settings'],
      dtype=object)

In [14]:
df[df.Topic == 'Asthma'].Question.value_counts(normalize=True).cumsum()[:10]

Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma    0.186096
Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma       0.372193
Current asthma prevalence among adults aged >= 18 years                                    0.558289
Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma       0.744385
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma    0.930481
Asthma prevalence among women aged 18-44 years                                             1.000000
Name: Question, dtype: float64

In [17]:
df.head()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,YearStart,YearEnd,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,1,FF49C41F-CE8D-46C4-9164-653B1227CF6F,1,1527194521,959778,1527194521,959778,None,2016,2016,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
1,2,F4468C3D-340A-4CD2-84A3-DF554DFF065E,2,1527194521,959778,1527194521,959778,None,2016,2016,...,01,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
2,3,65609156-A343-4869-B03F-2BA62E96AC19,3,1527194521,959778,1527194521,959778,None,2016,2016,...,02,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
3,4,0DB09B00-EFEB-4AC0-9467-A7CBD2B57BF3,4,1527194521,959778,1527194521,959778,None,2016,2016,...,04,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
4,5,D98DA5BA-6FD6-40F5-A9B1-ABD45E44967B,5,1527194521,959778,1527194521,959778,None,2016,2016,...,05,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None

In [21]:
cols = ['LocationAbbr', 'LocationDesc', 'DataSource','Topic', 'Question', 'YearStart', 'YearEnd', 'DataValue']
df_2 = df[df.Question == 'Current asthma prevalence among adults aged >= 18 years'][cols]
df_2.head()

,LocationAbbr,LocationDesc,DataSource,Topic,Question,YearStart,YearEnd,DataValue
4725,IL,Illinois,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,2016,2016,6.5
5529,IN,Indiana,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,2016,2016,6.7
5632,IA,Iowa,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,2016,2016,5.6
6777,KS,Kansas,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,2016,2016,6.1
7034,KY,Kentucky,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,2016,2016,6.9

In [24]:
df_2.sort_values(by='LocationAbbr').head()

,LocationAbbr,LocationDesc,DataSource,Topic,Question,YearStart,YearEnd,DataValue
9797,AK,Alaska,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,2016,2016,None
10013,AK,Alaska,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,2016,2016,10.3
9427,AK,Alaska,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,2016,2016,9
9959,AK,Alaska,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,2016,2016,None
9905,AK,Alaska,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,2016,2016,None

In [25]:
df.StratificationCategoryID1.value_counts(normalize=True)

RACE       0.631534
GENDER     0.231673
OVERALL    0.136794
Name: StratificationCategoryID1, dtype: float64

## Level-Up!
## Create a function (or class) that returns an outline of the schema structure like this: 
<img src="outline.jpg" width=350>

Rules:
* Your outline should follow the numbering outline above (I, A, 1, a, i).
* Your outline should be properly indented! (Four spaces or one tab per indentation level.)
* Your function goes to at least a depth of 5 (Level-up: create a parameter so that the user can specify this)
* If an entry is a dictionary, list its keys as the subheadings
* After listing a key name (where applicable) include a space, a dash and the data type of the entry
* If an entry is a dict or list put in parentheses how many items are in the entry
* lists will not have key names for their entries (they're just indexed)
* For subheadings of a list, state their datatypes. 
* If a dictionary or list is more then 5 items long, only show the first 5 (we want to limit our previews); make an arbitrary order choice for dictionaries. (Level-up: Parallel to above; allow user to specify number of items to preview for large subheading collections.)

In [ ]:
# Your code here; you will probably want to define subfunctions.
def print_obj_outline(json_obj):
    return outline

In [ ]:
outline = print_obj_outline(data)

In [ ]:
print(outline) #Your function should produce the following output for this json object (and work for all json files!)

## Summary

Well done! In this lab you got some extended practice exploring the structure of JSON files and writing a recursive generalized function for outlining a JSON file's schema!